<launch>
    <arg name="odom_topic" default="/Odometry"/>
    
    <arg name="terrain_cloud_topic" default="/cloud_registered"/>
    <arg name="terrain_local_topic" default="/cloud_registered"/>
    <arg name="scan_cloud_topic" default="/cloud_registered"/>
    
    <arg name="config" default="default"/>
    
    <node pkg="far_planner" type="far_planner" name="far_planner" output="screen">
        <rosparam command="load" file="$(find far_planner)/config/$(arg config).yaml" />
        <remap from="/odom_world" to="$(arg odom_topic)"/> 
        <remap from="/terrain_cloud" to="$(arg terrain_cloud_topic)"/>
        <remap from="/scan_cloud" to="$(arg scan_cloud_topic)"/>
        <remap from="/terrain_local_cloud" to="$(arg terrain_local_topic)"/>
    </node>

    <include file="$(find graph_decoder)/launch/decoder.launch" />
</launch>